.logo-utbm{
    padding: 2em;
}

.authentification{
    background-color: white;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    margin-left: 32em;
    margin-right: 32em;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Ombre pour effet de relief */
    padding-bottom: 2em;
    padding-top: 2em;
}

#username, #password{
    padding: 1em;
    width: 80%;
}

#connexion{
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;/* Rend le curseur en forme de main */
}

#connexion:hover{
    background-color: royalblue;
}

#mdp{
    text-decoration: none;
    color: dodgerblue;
}

#mdp:hover{
    text-decoration: underline;
    color: royalblue;
}


.bouton{
    margin-bottom: 20px;
}

.aut_btn{
    background-color: white;
    color: black;
    border-block: 2px solid lightgray;
    cursor: pointer;
    padding: 10px;
    width: 80%;
    border: 1px solid black;
}

.tour{
    width: 15px;
    height: 15px;
}

.select-langue{
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: dodgerblue;
}

.select-langue:hover{
    cursor: pointer;
    color: royalblue;
}

.select-langue option{
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: black;
}

.barre_verticale {
    width: 1px;
    height: 35px;
    background-color: lightgray;
    margin: 0 10px;
  }

.cookie {
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.cookie:hover {
    cursor: pointer;
    background-color: gray;
}

.alignement{
    display: flex; /*alignement horizontale*/
    margin-top: 20px;
    margin-left: 10px;    
}

.hr-aut{
    width: 80%;
}

.input-container{
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 20px;
}

.show-password {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.creation{
    display: flex;
    flex-direction: column;
}

.hidden-label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}