main{
    background-color: #fff;
    border-radius: 8px;
    margin: auto;
    padding: 1em;
    box-shadow: 0 2vh 3vh rgba(0, 0, 0, 0.1);
}


.cours-block1 {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    text-align: center;
    margin: 1em;
    flex-wrap: wrap; /* Permet le passage à la ligne sur petits écrans */
}

.encadrement {
    border: 1px solid white;
    width: 21em;
    border-radius: 8px;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    /*cursor: pointer;*/
}

.encadrement img {
    width: 100%;/* S'adapte à la largeur du parent */
    border-radius: 8px;
}

/*creation de post*/
.contenu h1{
    text-align: center;
}

.encadrement p{
    color: black;
}

.mescours {
    display: flex;
    margin: 1em;
    justify-content: space-between;
}

.encadrement a:hover{
    text-decoration: underline;
}

.encadrement a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}