#divadministrateur{
    display: none;
    border: 1px solid #ccc;
    padding: 1em;
    margin-top: 2em;
}

#divboutonadmin{
    display: flex;
    justify-content: center;
    gap: 1em;
}
#divboutonadmin button{
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 1em;
    font-size: 1em;
}
#divadministrateur button{
    cursor: pointer;
    gap: 1em;
    border: none;
    border-radius: 5px;
    color: white;
}
#creer{
    background-color: #28a745;
    font-size: 1em;
    padding: 1em;
}

.data-table{
    border-collapse: collapse;
    border: 1px solid black;
    margin-top: 1em;
}

.data-table th, .data-table td {
    border: 1px solid black;
}

.edit-btn{
    background-color: orange;
}
.delete-btn{
    background-color: red;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
#confirm-btn {
    background-color: red;
    color: white;
}
#cancel-btn {
    background-color: gray;
    color: white;
}