body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
}

body, ul {
    /*enleve les marges par défaut*/
    margin: 0;
    padding: 0;
}

.menu-nav {
    /*menu de navigation*/
    background-color: #3498db;
    align-items: center;
    /*centre verticalement les éléments*/
    display: flex;
    justify-content: space-between;
    height: 4em;
}

.menu-gauche {/*du menu navigation*/
    /*met en ligne le logo et le menu*/
    display: flex;
    /*aligne au centre*/
    align-items: center;
}

.lien-nav li {
    display: flex;
    background-color: #3498db;
    /*enleve la liste a puce*/
    list-style-type: none;
    display: inline-block;
}

.menu-nav ul.lien-nav li a {
    /*désouligne les liens*/
    text-decoration: none;
    color: white;
    padding: 1.4em 0.5em;
    font-size: 16px;
}

.menu-nav ul.lien-nav li:hover a {
    /*survol des liens*/
    text-decoration: none;
    color: black;
    background-color: white;

}

.button {
    border: none;
    text-align: center;
    cursor: pointer;
}

.logo-blanc {/*logo menu navigation*/
    margin: 0em 1em  ;
}

.menu-nav .logo-blanc img {
    /*taille logo barre de navigation*/
    height: 3em;
}

.contenu {
    /*de la page mes cours*/
    background-color: white;
    border: 1px solid lightgray;
    padding: 1em;
    margin-left: 15em;
    margin-right: 15em;
    margin-top: 3em;
    border-radius: 5px;
    flex-grow: 1;
}

.menu-droite {/*du menu navigation*/
    display: flex;
    align-items: center;
}

.mescours {
    display: flex;
    /*dispose les éléments en ligne*/
    margin: 1em;
    justify-content: space-between;
}

/*mes cours*/
.cours-block1 {
    display: flex;
    gap: 1em;
    text-align: center;
}

.encadrement {
    border: 1px solid lightgray;
    width: 21em;
}

.encadrement img {
    width: 21em;
}

/*creation de post*/
.contenu h1{
    text-align: center;
}

#creationpost{
    display: flex;
    justify-content: center;
    gap: 1em;
}

#creationpost button{
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 1em;
    padding: 1.5em;
}

#texte{
    background-color: #3498db;
}
#texte:hover{
    background-color: #2980b9;
}

#fichier{
    background-color: #28a745;
}
#fichier:hover{
    background-color: #218838;
}

#formulaire {
    display: none; /* Caché le formulaire au chargement */
}

/*page admin*/
#divadministrateur{
    display: none;
    border: 1px solid #ccc;
    padding: 1em;
    margin-top: 2em;
}

#divboutonadmin{
    display: flex;
    justify-content: center;
    gap: 1em;
}
#divboutonadmin button{
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 1em;
    font-size: 1em;
}
#divadministrateur button{
    cursor: pointer;
    gap: 1em;
    border: none;
    border-radius: 5px;
    color: white;
}
#creer{
    background-color: #28a745;
    font-size: 1em;
    padding: 1em;
}
#modifier{
    background-color: orange;
}
#supprimer{
    background-color: red;
}