body {
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
    color: #333;
}

body, ul {
    /*enleve les marges par défaut*/
    margin: 0;
    padding: 0;
}

/*menu de navigation*/

.menu-nav {
    /*menu de navigation*/
    background-color: #3498db;
    align-items: center;
    /*centre verticalement les éléments*/
    display: flex;
    justify-content: space-between;
    height: 4em;

    padding: 0 1em;
}

.menu-gauche {/*du menu navigation*/
    /*met en ligne le logo et le menu*/
    display: flex;
    /*aligne au centre*/
    align-items: center;
}

.lien-nav  {
    display: flex;
    background-color: #3498db;
    text-wrap: nowrap;
    list-style-type: none;
    flex-wrap: nowrap; /* Empêche les éléments de passer à la ligne */
    overflow: hidden; /* Cache les liens qui débordent */
    height: 4em;
    justify-content: center;
    align-items: center;
}

a[type="entre"] {
    display: inline-block;
    width: 2px; /* Épaisseur du trait */
    height: 20px; /* Hauteur du trait */
    background-color: white; /* Couleur du trait */
    margin: 0 10px; /* Espacement autour du trait */
    vertical-align: middle;
}


.menu-nav ul.lien-nav li a {
    /*désouligne les liens*/
    text-decoration: none;
    color: white;
    padding: 1.4em 0.5em;
    font-size: 16px;
}

.menu-nav ul.lien-nav li:hover a {
    /*survol des liens*/
    text-decoration: none;
    color: black;
    background-color: white;

}

.button {
    border: none;
    text-align: center;
    cursor: pointer;
}

/* Logo */
.menu-nav .logo-blanc img {
    /*taille logo barre de navigation*/
    height: 3em;
    margin: 0 1em ;
}

.menu-droite {/*du menu navigation*/
    display: flex;
    align-items: center;
}


