<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="icon" href="images/moodle.png">
    <link rel="stylesheet" href="Styles/affichage_posts.css">
    <link rel="stylesheet" href="Styles/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="AJAX/connected.js" defer></script>
    <script src="JavaScript/menulateral.js" defer></script>
</head>

<body>
<!-- Menu de navigation -->
<nav class="menu-nav">
    <div class="menu-gauche">
        <div class="logo-blanc">
            <a href="mescours.html"><img src="images/logo_utbm_blanc.png" alt="logo utbm"></a>
        </div>

        <ul class="lien-nav">
            <li><a href="mescours.html">Catalogue</a></li>
            <div class="entre"></div>
            <li><a href="affichage_posts.html">Actualité</a></li>
            <div class="entre"></div>
            <li><a href="https://utbm.sharepoint.com/sites/Portail/SitePages/Liens-utiles.aspx">My UTBM</a></li>
            <div class="entre" style="display: none;"></div>
            <li id="admin-gestion" style="display: none;"><a href="pageadmin.html">Gestion</a></li>
        </ul>
    </div>


    <ul class="lien-nav">
        <li id="auth-status"></li>
    </ul>

    <div id="menu-lateral">
        <div id="bouton-lateral">
            <ion-icon name="menu" id="icone-lateral"></ion-icon>
        </div>
        <div id="formulaire-lateral">
            <form method="post" action="">
                <label for="nom">Nom</label>
                <input id="nom" type="text"/>
                <label for="prenom">Prénom</label>
                <input id="prenom" type="text"/>
                <label for="mdp">Mot de passe</label>
                <input id="mdp" type="password"/>
                <input type="submit" value="Modifier"/>
                <a href="../Controller/logout.php" onclick="logout()">Déconnexion</a>
            </form>
        </div>
    </div>


</nav>

<div id="posts-container" class="posts-container">
    <!-- Les posts vont être ajoutés ici -->
</div>

<!-- Scripts JS à charger en dernier -->
<script src="AJAX/affichage_posts.js"></script>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
