<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Création UE | UTBM</title>
    <link rel="icon" href="images/moodle.png">
    <link rel="stylesheet" href="Styles/creationuser.css">
    <link rel="stylesheet" href="Styles/style.css">
    <script src="AJAX/connected.js" defer></script>
</head>

<body>
<!-- Menu de navigation -->
<nav class="menu-nav">
    <div class="menu-gauche">
        <div class="logo-blanc">
            <a href="mescours.html"><img src="images/logo_utbm_blanc.png" alt="logo utbm"></a>
        </div>

        <ul class="lien-nav">
            <li><a href="mescours.html">Catalogue</a></li>
            <div class="entre"></div>
            <li><a href="affichage_posts.html">Actualité</a></li>
            <div class="entre"></div>
            <li><a href="https://utbm.sharepoint.com/sites/Portail/SitePages/Liens-utiles.aspx">My UTBM</a></li>
            <div class="entre" style="display: none;"></div>
            <li id="admin-gestion" style="display: none;"><a href="pageadmin.html">Gestion</a></li>
        </ul>
    </div>


    <ul class="lien-nav">
        <li id="auth-status"></li>
    </ul>

</nav>



<main class="contenu">
    <form method="post" action="" class="creation">
        <h1>Création d'une UE</h1>
        <div class="formulaire">
        <div class="section">
        <label for="code">Code UE</label>
        <input id="code" type="text" name="code">
        </div>

            <div class="section">
        <label for="intitule">Intitulé</label>
        <input id="intitule" type="text" name="intitule">
            </div>

                <div class="section">
        <label for="capacity">Capacité</label>
        <input id="capacity" type="text" name="capacity">
                </div>

            <div class="selectionfichier">
        <label for="upload">Sélectionner une image</label>
        <input type="file" id="upload" name="upload" accept="image/*" required>
            </div>

        <input type="submit" value="Enregistrer"/>
        </div>
    </form>
</main>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>