<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <script src="JavaScript/post.js" defer></script>
    <link rel="icon" href="images/moodle.png">
    <link rel="stylesheet" href="Styles/creation_post.css">
    <link rel="stylesheet" href="Styles/style.css">
</head>

<body>
<!-- Menu de navigation -->
<nav class="menu-nav">
    <div class="menu-gauche">
        <div class="logo-blanc">
            <a href="#"><img src="images/logo_utbm_blanc.png" alt="logo utbm"></a>
        </div>

        <ul class="lien-nav">
            <li><a href="mescours.html">Catalogue</a></li>
            <li><a href="pageadmin.html">Administration</a></li>
            <li><a href="https://utbm.sharepoint.com/sites/Portail/SitePages/Liens-utiles.aspx">My UTBM</a></li>
        </ul>
    </div>


    <ul class="lien-nav">
        <li><a><ion-icon name="notifications" ></ion-icon></a></li>
        <li><a href="gestionducompte.html">Mon compte</a></li>
    </ul>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</nav>




<!-- {% include 'partials/header.html.twig' %} -->

<main class="contenu">
    <h1>Créer ou modifier un post</h1> <br>
    <div id="creationpost">
        <button id="texte">Message Texte</button>
        <button id="fichier">Partage de fichier</button>
    </div>

    <div id="formulaire">
        <form>
            <h2 id="titreFormulaire">Message Texte</h2>
            <label for="titre">Titre :</label>
            <input type="text" id="titre" name="titre"> <br>
            <p>
                Type du message :
                <input type="radio" name="typeMessage" value="information" id="information"> <label for="information">Information</label>
                <input type="radio" name="typeMessage" value="important" id="important"> <label for="important">Important</label><br>
            </p>
            <label for="description">Description :</label>
            <textarea id="description" name="description"></textarea> <br><br>

            <div id="selectFichier" style="display: none;">
                <label for="upload">Sélectionner un dossier .zip :</label>
                <input type="file" id="upload" name="upload" accept=".zip"> <br><br>
            </div>

            <button type="submit">Publier</button>
        </form>
    </div>
</main>
</body>
</html>