<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Meta données -->
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link rel="icon" href="images/moodle.png">
    <link rel="stylesheet" href="Styles/style.css">
    <link rel="stylesheet" href="Styles/authentification.css">
</head>

<body>
<!-- Corps de la page -->
<!-- Menu de navigation -->
<nav class="menu-nav">
    <div class="menu-gauche">
        <div class="logo-blanc">
            <a href="#"><img src="images/logo_utbm_blanc.png" alt="logo utbm"></a>
        </div>

        <ul class="lien-nav">
            <li><a href="tableaudebord.html">Tableau de bord</a></li>
            <li><a href="recherche.html">Recherche de cours</a></li>
            <li><a href="mescours.html">Mes cours</a></li>
            <li><a href="">Sites UTBM<ion-icon name="chevron-down"></ion-icon></a></li>
            <li><a href="">Semestre à l'UTBM <ion-icon name="chevron-down"></ion-icon></a></li>
            <li><a href="">Stages/S.E.E<ion-icon name="chevron-down"></ion-icon></a></li>
        </ul>

    </div>


        <ul class="lien-nav">
            <li><a><ion-icon name="chatbubble"></ion-icon></a></li>
            <li><a><ion-icon name="notifications" ></ion-icon></a></li>
            <li><a href="gestionducompte.html">Mon compte</a></li>
        </ul>

    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</nav>