<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Meta données -->
    <meta charset="UTF-8">
    <title>Login | UTBM</title>
    <link rel="icon" href="images/moodle.png" class="moodle">
    <link rel="stylesheet" href="Styles/login.css">
    <link rel="stylesheet" href="Styles/style.css">
    <!--<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>-->
</head>

<body>
<!-- Corps de la page -->
<main>
    <div class="login">

        <form method="post" action="../controller/login.php" id="loginForm" onsubmit="return CheckLoginForm()">

            <img src="images/logo_utbm.png" alt="logo utbm" class="logo-utbm">

            <script>
                //Fonction pour vérifier le formulaire
                function CheckLoginForm() {
                    var nom = document.getElementById("name").value;
                    var pass = document.getElementById("password").value;

                    if (nom.length === 0) {
                        alert("Le champ du addresse mail ne doit pas être vide!")
                        return false;
                    } else if (pass.length === 0) {
                        alert("Le champ du mot de passe ne doit pas être vide!")
                        return false;
                    } else {
                        return true;
                    }
                }

                function TogglePass(icone) {
                    var field = document.getElementById("password");
                    if (field.type === "password") {
                        icone.name = "eye-outline";
                        field.type = "text";
                    } else {
                        icone.name = "eye-off-outline";
                        field.type = "password";
                    }
                }
            </script>
            <h1>Connexion</h1>
            <label for="email">Email :</label>
            <input id="email" type="text" name="email" spellcheck="false" placeholder="prenom.nom@utbm.fr"
                   title="Please enter your email" required="required"/>

            <!--<label for="password"> Mot de passe :</label>
            <input type="password" id="password" name="password" placeholder="Mot de passe" required>
            <img id="passHide" onclick="TogglePass(this)"
                 src="images/password_hide.png" alt="Show/hide password" class="show-password">-->

            <div class="section">
                <label for="password">Mot de passe :</label>
                <div class="input-container">
                    <input type="password" id="password" name="password" placeholder="Mot de passe" required>
                    <ion-icon name="eye-off-outline" onclick="TogglePass(this)"></ion-icon>
                </div>
            </div>

            <input type="submit" value="Connexion" id="connexion"/>
        </form>

        <a href="#" id="mdp">Mot de passe perdu ?</a>
    </div>
</main>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>