<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Meta données -->
    <meta charset="UTF-8">
    <title>Mes cours | UTBM</title>
    <link rel="stylesheet" href="Styles/style.css">
    <link rel="stylesheet" href="Styles/mescours.css">
    <link rel="icon" href="images/moodle.png">

</head>

<body>
    <!-- Corps de la page -->

    <!-- Menu de navigation -->
    <nav class="menu-nav">
        <div class="menu-gauche">
            <div class="logo-blanc">
                <a href="mescours.html"><img src="images/logo_utbm_blanc.png" alt="logo utbm"></a>
            </div>

            <ul class="lien-nav">
                <li><a href="mescours.html">Catalogue</a></li>
                <a type="entre"></a>
                <li><a href="affichage_posts.html">Actualité</a></li>
                <a type="entre"></a>
                <li><a href="https://utbm.sharepoint.com/sites/Portail/SitePages/Liens-utiles.aspx">My UTBM</a></li>
                <a type="entre"></a>
                <li id="admin-post" style="display: none;"><a href="creationpost.html">Ajouter Post</a></li>
                <a type="entre" style="display: none;"></a>
                <li id="admin-user" style="display: none;"><a href="creationuser.html">Créer Utilisateur</a></li>
                <a type="entre" style="display: none;"></a>
                <li id="admin-ue" style="display: none;"><a href="creationue.html">Créer UE</a></li>
                <a type="entre" style="display: none;"></a>
                <li id="admin-gestion" style="display: none;"><a href="pageadmin.html">Gestion</a></li>
            </ul>
        </div>


        <ul class="lien-nav">
            <li id="auth-status"></li>
        </ul>
        <script src="AJAX/connected.js"></script>

        </div>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </nav>

    <!-- Mes cours -->

    <div class="mescours">
        <main class="contenu">
            
                <h1>Mes cours</h1>

                <h2>Vue d'ensemble des cours</h2>

                <hr>

                <div class="cours-block1">
                    <div class="encadrement">
                        <img src="images/cours1.png" alt="cours1">
                        <a href="tableaudebord.html">LE05</a>
                        <p>Business Issues</p>
                    </div>  
                    <div class="encadrement">
                        <img src="images/cours2.png" alt="cours2">
                        <a href="tableaudebord.html">SI02</a>
                        <p>Sémiologie de l'image et du son</p>
                    </div> 
                    <div class="encadrement">
                        <img src="images/cours3.png" alt="cours3">
                        <a href="tableaudebord.html">SI40</a>
                        <p>Systèmes d'information</p>
                    </div>                   
                </div>

                <div class="cours-block1">
                    <div class="encadrement">
                        <img src="images/cours1.png" alt="cours1">
                        <a href="tableaudebord.html">SY43</a>
                        <p>Android development</p>
                    </div>  
                    <div class="encadrement">
                        <img src="images/cours2.png" alt="cours2">
                        <a href="tableaudebord.html">SY44</a>
                        <p>Administration systèmes et réseaux</p>
                    </div> 
                    <div class="encadrement">
                        <img src="images/cours3.png" alt="cours3">
                        <a href="tableaudebord.html">WE4</a>
                        <p>Technologies et programmation WEB</p>
                    </div>                   
                </div>
            
        </main>
    </div>

</body>

</html>