<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Meta données -->
    <meta charset="UTF-8">
    <title>Mes cours | UTBM</title>
    <link rel="stylesheet" href="Styles/style.css">
    <link rel="stylesheet" href="Styles/mescours.css">
    <link rel="icon" href="images/moodle.png">

</head>

<body>
    <!-- Corps de la page -->

    <!-- Menu de navigation -->
    <nav class="menu-nav">
        <div class="menu-gauche">
            <div class="logo-blanc">
                <a href="#"><img src="images/logo_utbm_blanc.png" alt="logo utbm"></a>
            </div>

            <ul class="lien-nav">
                <li><a href="mescours.html">Catalogue</a></li>
                <li><a href="pageadmin.html">Administration</a></li>
                <li><a href="https://utbm.sharepoint.com/sites/Portail/SitePages/Liens-utiles.aspx">My UTBM</a></li>
            </ul>
        </div>


        <ul class="lien-nav">
            <li><a><ion-icon name="notifications" ></ion-icon></a></li>
            <li><a href="gestionducompte.html">Mon compte</a></li>
        </ul>
        </div>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </nav>

    <!-- Mes cours -->

    <div class="mescours">
        <main class="contenu">
            
                <h1>Mes cours</h1>

                <h2>Vue d'ensemble des cours</h2>

                <hr>

                <div class="cours-block1">
                    <div class="encadrement">
                        <img src="images/cours1.png" alt="cours1">
                        <a href="tableaudebord.html">Cours 1</a>
                        <p></p>
                    </div>  
                    <div class="encadrement">
                        <img src="images/cours2.png" alt="cours2">
                        <a href="tableaudebord.html">Cours 2</a>
                        <p></p>
                    </div> 
                    <div class="encadrement">
                        <img src="images/cours3.png" alt="cours3">
                        <a href="tableaudebord.html">Cours 3</a>
                        <p></p>
                    </div>                   
                </div>

                <div class="cours-block1">
                    <div class="encadrement">
                        <img src="images/cours1.png" alt="cours1">
                        <a href="tableaudebord.html">Cours 4</a>
                        <p></p>
                    </div>  
                    <div class="encadrement">
                        <img src="images/cours2.png" alt="cours2">
                        <a href="tableaudebord.html">Cours 5</a>
                        <p></p>
                    </div> 
                    <div class="encadrement">
                        <img src="images/cours3.png" alt="cours3">
                        <a href="tableaudebord.html">Cours 6</a>
                        <p></p>
                    </div>                   
                </div>
            
        </main>
    </div>

</body>

</html>