<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Meta données -->
    <meta charset="UTF-8">
    <title>Admin | UTBM</title>
    <link rel="stylesheet" href="Styles/style.css">
    <link rel="stylesheet" href="Styles/pageadmin.css">
    <link rel="icon" href="images/moodle.png">
    <script src="JavaScript/admin.js" defer></script>
</head>

<body>
<!-- Menu de navigation -->
<nav class="menu-nav">
    <div class="menu-gauche">

        <div class="logo-blanc">
            <a href="mescours.html"><img src="images/logo_utbm_blanc.png" alt="logo utbm"></a>
        </div>

        <ul class="lien-nav">
            <li><a href="mescours.html">Catalogue</a></li>
            <a type="entre"></a>
            <li><a href="affichage_posts.html">Actualité</a></li>
            <a type="entre"></a>
            <li><a href="https://utbm.sharepoint.com/sites/Portail/SitePages/Liens-utiles.aspx">My UTBM</a></li>
            <a type="entre"></a>
            <li id="admin-post" style="display: none;"><a href="creationpost.html">Ajouter Post</a></li>
            <a type="entre"></a>
            <li id="admin-user" style="display: none;"><a href="creationuser.html">Créer Utilisateur</a></li>
            <a type="entre"></a>
            <li id="admin-ue" style="display: none;"><a href="creationue.html">Créer UE</a></li>
            <a type="entre"></a>
            <li id="admin-gestion" style="display: none;"><a href="pageadmin.html">Gestion</a></li>
        </ul>
    </div>


    <ul class="lien-nav">
        <li id="auth-status"></li>
    </ul>
    <script src="AJAX/connected.js"></script>

    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</nav>

<main class="contenu">
    <div class="form-wrapper">
    <h1>Gestion des utilisateurs et des UE</h1>
    <div id="divboutonadmin">
        <button id="utilisateurs">Utilisateurs</button>
        <button id="ue">Unités d'Enseignements</button>
    </div>
    <div id="divadministrateur">
        <h2 id="titreadmin">Utilisateurs</h2>
        <!-- Formulaire de recherche -->
        <form method="GET" action="" class="search-form">
            <input type="val" name="id" placeholder="ID" />
            <input type="text" name="name" placeholder="Nom" />
            <input type="text" name="first_name" placeholder="First Name" />
            <input type="text" name="email" placeholder="Email" />
            <select id="role" name="role" required>
                <option value="null">Choisir...</option>
                <option value="etudiant">Etudiant</option>
                <option value="prof">Enseignant</option>
                <option value="secretaire">Secrétaire</option>
                <option value="gestion_edt">Service gestion edt</option>
                <option value="directeur_pole">Directeur pôle</option>
                <option value="responsable_sde">Responsable service des études</option>
                <option value="directeur_si">Directeur des systèmes d'information</option>
                <option value="responsable_snp">Responsable service numérique et pédagogique</option>
            </select>
            <button type="submit" class="search-btn">Rechercher</button>
            <a href="staff_clients_management.php" class="reset-btn">Rénitialiser</a>
        </form>
        <button id="creer">Créer un nouvel utilisateur</button>

        <div id="afficherTableau">

        </div>
    </div>

    </div>
</main>

<!-- fenêtre pou up modale-->
<div id="modal-popup" class="modal" style="display: none;">
    <div class="modal-content">
        <h2 id="modal-title">Confirmation</h2>
        <p id="modal-message">Voulez-vous vraiment supprimer cet élément ?</p>
        <button id="confirm-btn">Oui</button>
        <button id="cancel-btn">Annuler</button>
    </div>
</div>


<!-- Pieds de la page -->
<footer></footer>

</body>

</html>