<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Meta données -->
    <meta charset="UTF-8">
    <title>Admin | UTBM</title>
    <link rel="stylesheet" href="Styles/style.css">
    <link rel="stylesheet" href="Styles/pageadmin.css">
    <link rel="icon" href="images/moodle.png">
    <script src="JavaScript/admin.js" defer></script>
</head>

<body>
<!-- Menu de navigation -->
<?php include 'header.html'; ?>

<main class="contenu">
    <h1>Gestion des utilisateurs et des UE</h1>
    <div id="divboutonadmin">
        <button id="utilisateurs">Utilisateurs</button>
        <button id="ue">Unités d'Enseignements</button>
    </div>
    <div id="divadministrateur">
        <h2 id="titreadmin">Utilisateurs</h2>
        <!--<button id="creer" onclick="window.location.href = 'creationuser.html'">Créer un nouvel utilisateur</button>-->
        <button id="creer">Créer un nouvel utilisateur</button>

        <div id="afficherTableau">

        </div>

        <!--<button id="modifier">Modifier un utilisateur</button>
        <button id="supprimer">Supprimer un utilisateur</button>-->
    </div>


</main>

<!-- Ajouter la modale ici avant la fin de la balise body -->
<div id="modal-popup" class="modal" style="display: none;">
    <div class="modal-content">
        <h2 id="modal-title">Confirmation</h2>
        <p id="modal-message">Voulez-vous vraiment supprimer cet élément ?</p>
        <button id="confirm-btn">Oui</button>
        <button id="cancel-btn">Annuler</button>
    </div>
</div>

<!-- Pieds de la page -->
<footer></footer>

</body>

</html>