<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Meta données -->
    <meta charset="UTF-8">
    <title>Tableau de bord</title>
    <link rel="stylesheet" href="Styles/style.css">
    <link rel="icon" href="images/moodle.png">

</head>

<body>
<!-- Corps de la page -->
<nav class="menu-nav">
    <div class="menu-gauche">
        <div class="logo-blanc">
            <a href="#"><img src="images/logo_utbm_blanc.png" alt="logo utbm"></a>
        </div>

        <ul class="lien-nav">
            <li><a href="mescours.html">Catalogue</a></li>
            <li><a href="admin.html">Administration</a></li>
            <li><a href="https://utbm.sharepoint.com/sites/Portail/SitePages/Liens-utiles.aspx">My UTBM</a></li>
        </ul>
    </div>


    <ul class="lien-nav">
        <li><a><ion-icon name="chatbubble"></ion-icon></a></li>
        <li><a><ion-icon name="notifications" ></ion-icon></a></li>
        <li><a href="gestionducompte.html">Mon compte</a></li>
    </ul>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</nav>

<!-- Menu de navigation -->
<?php include 'header.html'; ?>

<div class="tableau de bord">
    <main class="contenu">

        <h1>tableau de bord</h1>

        <h2>Vue d'ensemble des cours</h2>

        <hr>

        <br>

        <div class="cours-block1">
            <div class="encadrement">
                <img src="images/cours1.png" alt="cours1">
                <a href="#">Cours 1</a>
            </div>
            <div class="encadrement">
                <img src="images/cours2.png" alt="cours2">
                <a href="#">Cours 2</a>
            </div>
            <div class="encadrement">
                <img src="images/cours3.png" alt="cours3">
                <a href="#">Cours 3</a>
            </div>
        </div>

        <br>

        <div class="cours-block1">
            <div class="encadrement">
                <img src="images/cours1.png" alt="cours1">
                <a href="#">Cours 4</a>
            </div>
            <div class="encadrement">
                <img src="images/cours2.png" alt="cours2">
                <a href="#">Cours 5</a>
            </div>
            <div class="encadrement">
                <img src="images/cours3.png" alt="cours3">
                <a href="#">Cours 6</a>
            </div>
        </div>

        <br>

    </main>
</div>

</body>

</html>
