<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Meta données -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Moodle{% endblock %}</title>

    <link rel="icon" href="{{ asset('images/moodle.png') }}">
    <link rel="stylesheet" href="{{ asset('Styles/style.css') }}">

    {% block stylesheets %} <!-- Bloc pour les CSS spécifiques à chaque page -->
    {% endblock %}

    {% block javascripts %}  {% endblock %}
</head>

<body>

{% include 'header.html.twig' %} <!-- Menu de navigation -->

<div class="content">
    {% block body %}

    {% endblock %}
</div>

<footer>
    {% block footer %}
        <p>&copy; 2025 Mon Moodle</p>
    {% endblock %}
</footer>
</body>

</html>
