<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Meta données -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Moooodle{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/moodle.png') }}">
    <link rel="stylesheet" href="{{ asset('Styles/style.css') }}">
    <link rel="stylesheet" href="{{ asset('Styles/authentification.css') }}">

    {% block stylesheets %}{% endblock %} <!-- Bloc pour les CSS spécifiques à chaque page -->
    {% block javascripts %}
        <script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    {% endblock %}
</head>

<body>

{% include 'header.html.twig' %}

<div class="content">
    {% block body %}{% endblock %}
</div>

<footer>
    <p>&copy; 2025 Mon Moooodle</p>
</footer>



</body>

</html>
