<nav class="menu-nav">
    <div class="menu-gauche">
        <div class="logo-blanc">
            <a href="#"><img src="{{ asset('images/logo_utbm_blanc.png') }}" alt="logo utbm"></a>
        </div>

        <ul class="lien-nav">
            <li><a href="{{ path('mescours') }}">Mes Cours</a></li>
            <li><a href="{{ path('page_admin') }}">Page Administration</a></li>
            <li><a href="https://utbm.sharepoint.com/sites/Portail/SitePages/Liens-utiles.aspx">My UTBM</a></li>
        </ul>
    </div>

    <ul class="lien-nav">
        <li><a><ion-icon name="chatbubble"></ion-icon></a></li>
        <li><a><ion-icon name="notifications"></ion-icon></a></li>
        <li><a href="{{ path('mon_compte') }}">Mon compte</a></li>
    </ul>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</nav>
