{% extends 'base.html.twig' %}

{% block title %}Mes cours{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('Styles/mescours.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('AJAX/connected.js') }}" defer></script>
    <script src="{{ asset('JavaScript/menulateral.js') }}" defer></script>
    <script src="{{ asset('JavaScript/mescours.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div class="mescours">
        <main class="contenu">

            <h1>Mes cours</h1>

            <h2>Vue d'ensemble des cours</h2>

            <hr>

            <div id="cours"></div>

        </main>
    </div>
{% endblock %}