{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('Styles/pageadmin.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('JavaScript/admin.js') }}" defer></script>
    <script src="{{ asset('JavaScript/menulateral.js') }}" defer></script>
    <script src="{{ asset('AJAX/connected.js') }}" defer></script>
{% endblock %}

{% block body %}
    <main class="contenu">
        <div class="form-wrapper">
            <h1>Gestion des utilisateurs et des UE</h1>

            <div id="divboutonadmin">
                <button id="utilisateurs">Utilisateurs</button>
                <button id="ue">Unités d'Enseignements</button>
            </div>

            <div id="divadministrateur">
                <h2 id="titreadmin">Utilisateurs</h2>

                <div id="formulaire-recherche"></div>

                <button id="creer">Créer un nouvel utilisateur</button>

                <div id="afficherTableau"></div>
            </div>
        </div>

    </main>

    <!-- fenêtre pou up modale-->
    <div id="modal-popup" class="modal" style="display: none;">
        <div class="modal-content">
            <h2 id="modal-title">Confirmation</h2>
            <p id="modal-message">Voulez-vous vraiment supprimer cet élément ?</p>
            <button id="confirm-btn">Oui</button>
            <button id="cancel-btn">Annuler</button>
        </div>
    </div>
{% endblock %}

