{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="tableau de bord">
        <main class="contenu">

            <h1>tableau de bord</h1>

            <h2>Vue d'ensemble des cours</h2>

            <hr>

            <br>

            <div class="cours-block1">
                <div class="encadrement">
                    <img src="images/cours1.png" alt="cours1">
                    <a href="#">Cours 1</a>
                </div>
                <div class="encadrement">
                    <img src="images/cours2.png" alt="cours2">
                    <a href="#">Cours 2</a>
                </div>
                <div class="encadrement">
                    <img src="images/cours3.png" alt="cours3">
                    <a href="#">Cours 3</a>
                </div>
            </div>

            <br>

            <div class="cours-block1">
                <div class="encadrement">
                    <img src="images/cours1.png" alt="cours1">
                    <a href="#">Cours 4</a>
                </div>
                <div class="encadrement">
                    <img src="images/cours2.png" alt="cours2">
                    <a href="#">Cours 5</a>
                </div>
                <div class="encadrement">
                    <img src="images/cours3.png" alt="cours3">
                    <a href="#">Cours 6</a>
                </div>
            </div>

            <br>

        </main>
    </div>
{% endblock %}